<mat-card>
    <form (submit)="onLogin(loginForm)" #loginForm="ngForm">
        <mat-form-field>
            <input matInput type="email" placeholder="email"
                name="email"
                ngModel
                required
                email
                #emailInput="ngModel">
            <mat-error *ngIf="emailInput.invalid">Please Enter a valid email</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input type="password" matInput placeholder="password"
                name="password"
                ngModel
                required
                #passwordInput="ngModel"
                >
            <mat-error *ngIf="passwordInput.invalid">Please enter a validpassword</mat-error>
        </mat-form-field> 
        <button mat-raised-button color="primary" type="submit">Log In</button>
    </form>
</mat-card>